<!-- header -->
<div class="container">
  <div class="header">
    <div class="logo">
      <img src="assets/RK_Logo.svg" alt="LOGO" />
    </div>
    <div class="links">
      <div class="link">Home</div>
      <div class="link">About</div>
      <div class="link">Portfolio</div>
      <div class="link">Blog</div>
      <div class="link">Services</div>
      <div class="link button">Contact Me</div>
    </div>
  </div>

  <!-- main -->
  <div class="main">
    <div class="text">
      <div>
        <div class="head">
          <p>Hello, I’m Rama Krishna Chimakurthi</p>
        </div>
        <div>
          <p>
            I'm a Freelance UI/UX Designer and Developer based in London,
            England. I strives to build immersive and beautiful web applications
            through carefully crafted code and user-centric design.
          </p>
        </div>
        <div class="button">Say Hello !</div>
      </div>
      <div class="exp">
        <div class="exp-grp">
          <div class="years">3 Y.</div>
          <div class="description">Experience</div>
        </div>
        <div class="exp-grp">
          <div class="years">3 Y.</div>
          <div class="description">Experience</div>
        </div>
      </div>
    </div>
    <div class="photo">
      <img src="assets/photo_formal.jpg" alt="" />
    </div>
  </div>
</div>

<div class="footer">
  <div class="header">
    <div class="logo">
      <img src="assets/RK_Logo_White.svg" alt="LOGO" />
    </div>
    <div class="links">
      <div class="link">Home</div>
      <div class="link">About</div>
      <div class="link">Portfolio</div>
      <div class="link">Blog</div>
      <div class="link">Services</div>
      <!-- <div class="link button">Contact Me</div> -->
    </div>
  </div>
</div>
