<div class="container">
  <!-- header -->
  <div class="header">
    <div class="logo">
      <img src="assets/RK_Logo.svg" alt="LOGO" />
    </div>
    <div class="links">
      <div class="link">Home</div>
      <div class="link">About</div>
      <div class="link">Portfolio</div>
      <div class="link">Blog</div>
      <div class="link">Services</div>
      <div class="link button">Contact Me</div>
    </div>
  </div>

  <!-- main -->
  <div class="main">
    <div class="text">
      <div>
        <div class="head">
          <p>Hello, I’m Rama Krishna Chimakurthi</p>
        </div>
        <div>
          <p>
            I'm a Freelance UI/UX Designer and Developer based in London,
            England. I strives to build immersive and beautiful web applications
            through carefully crafted code and user-centric design.
          </p>
        </div>
        <div class="button">Say Hello !</div>
      </div>
      <div class="exp">
        <div class="exp-grp">
          <div class="years">3 Y.</div>
          <div class="description">Experience</div>
        </div>
        <div class="exp-grp">
          <div class="years">3 Y.</div>
          <div class="description">Experience</div>
        </div>
      </div>
    </div>
    <div class="photo">
      <img src="assets/photo_formal.jpg" alt="" />
    </div>
  </div>

  <div style="display: flex; gap: 10px; padding-top: 50px">
    <img
      alt="Java"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
    />
    <img
      alt="Spring"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
    />
    <img
      alt="TypeScript"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
    />
    <img
      alt="Angular"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
    />
    <img
      alt="Git"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
    />
    <img
      alt="Linux"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
    />
    <img
      alt="HTML"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"
    />
    <img
      alt="CSS"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"
    />
    <img
      alt="JavaScript"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
    />
    <img
      alt="React"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
    />
    <img
      alt="NodeJS"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
    />
    <img
      alt="Python"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg"
    />
    <img
      alt="C++"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-line.svg"
    />
    <img
      alt="GitHub"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
    />
    <img
      alt="Bash"
      width="50px"
      style="padding-right: 10px"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg"
    />
    <br />
  </div>
</div>

<div class="footer">
  <div class="header">
    <div class="logo">
      <img src="assets/RK_Logo_White.svg" alt="LOGO" />
    </div>
    <div class="links">
      <div class="link">Home</div>
      <div class="link">About</div>
      <div class="link">Portfolio</div>
      <div class="link">Blog</div>
      <div class="link">Services</div>
      <!-- <div class="link button">Contact Me</div> -->
    </div>
  </div>
</div>
